$color :rgb(179, 169, 140);
.topnav a {
    color:$color
    }

    div{
        h1{
            font-family: Goudy Old style;
            font-size: 60px;
            font-style: italic;
        }
        p{
            text-align: justify;
            text-justify:inter-word;
        }
    }